<div class="mob-navbar">

        <div class="menu-button-container">
            <i class="fas fa-bars" id="menu-btn"></i>
        </div>
        <div class="input-search-container">
            <input type="text" id="search-input" class="border-off">
            <label id="input-label" class="focus-off">Search a Pokémon</label>
            <div class="input-search-img"></div>
        </div>

        <div class="side-menu">
            <div class="side-menu-content">
                <div class="brand-logo"></div>
                <ul>
                    <li><i class="fas fa-home"></i></li>
                    <li>APP</li>
                    <li>ABOUT</li>
                </ul>
                <div class="developer">
                        <h3 class="side-menu-title">PokéAPP</h3>
                                    <div class="developer-text">
                                        Developed by <br> Carlos Segura García
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>

                </div>