<div class="mob-navbar">

        <div class="menu-button-container">
            <i class="fas fa-bars" id="menu-btn"></i>
        </div>
        <div class="select-button-container">
            <i class="fas fa-caret-square-down" id="select-btn"></i>
        </div>
        <div class="select-menu">
            <div class="select-menu-content">
            <h5>Select a generation</h5>
                <div class="row d-flex">
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-1" class="mob-navbar-btn">1st gen</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-2" class="mob-navbar-btn">2nd gen</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-3" class="mob-navbar-btn">3rd gen</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-4" class="mob-navbar-btn">4th gen</button>
                        </div>
                    </div>
                </div>
                <div class="row d-flex">
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-5" class="mob-navbar-btn">4th gen</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-6" class="mob-navbar-btn">6th gen</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-7" class="mob-navbar-btn">7th gen</button>
                        </div>
                    </div>
                    <div class="col-3">
                        <div>
                            <button type="button" id="mob-btn-gen-8" class="mob-navbar-btn">8th gen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="input-search-container">
            <input type="text" id="search-input" class="mob-navbar-input-border-off">
            <label id="input-label" class="focus-off">Search a Pokémon</label>
            <div class="input-search-img"></div>
        </div>

        <div class="side-menu">
            <div class="side-menu-content">
                <div class="brand-logo"></div>
                <ul>   
                    <a href="/#" class="side-menu-links">
                        <li><i class="fas fa-home"></i></li>
                    </a>
                    <a href="#/app" class="side-menu-app-link">
                        <li>APP</li>
                    </a>
                    <a href="#/about" class="side-menu-about-link">
                        <li>ABOUT</li>
                    </a>
                </ul>
                    <div class="developer">
                        <div class="text-center">
                            <div class="side-menu-git-icon">
                                <a href="https://github.com/Lithos-hub/PokeAPP">
                                <i class="fab fa-github white--text"></i>
                                </a>
                            </div>
                        </div>
                            <h3 class="side-menu-title">PokéAPP</h3>
                                        <div class="developer-text">
                                            Developed by <br> Carlos Segura García
                                        </div>
                    </div>
                </ul>
            </div>
        </div>

</div>