<div class="mob-navbar">

        <div class="menu-button-container">
            <i class="fas fa-bars" id="menu-btn"></i>
        </div>
        <div class="input-search-container">
            <input type="text" id="search-input" class="border-off">
            <label id="input-label" class="focus-off">Search a Pokémon</label>
            <div class="input-search-img"></div>
        </div>

        <div class="side-menu">
            <div class="side-menu-content">
                <div class="brand-logo"></div>
                <ul>   
                    <a href="/#" class="side-menu-links">
                        <li><i class="fas fa-home"></i></li>
                    </a>
                    <a href="#/app" class="side-menu-app-link">
                        <li>APP</li>
                    </a>
                    <a href="#/about" class="side-menu-about-link">
                        <li>ABOUT</li>
                    </a>
                </ul>
                <div class="developer">
                    <div class="text-center">
                        <div class="side-menu-git-icon">
                            <a href="https://github.com/Lithos-hub/JS-pokevanilla">
                            <i class="fab fa-github white--text"></i>
                            </a>
                        </div>
                    </div>
                        <h3 class="side-menu-title">PokéAPP</h3>
                                    <div class="developer-text">
                                        Developed by <br> Carlos Segura García
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>

                </div>