@import '../../../scss/variables';

.mob-loader {
    position: absolute;
    z-index: 9999;
    top: 0rem;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: linear-gradient(120deg, $dark 50%, $poke3 50%);
    font-family: $style1;

    h1 {
        font-size: 1.5em;
        color: $poke4;
    }

    p {
        font-size: 0.7em;
        color: white;
    }

    
}

.mob-loader-pokegif img {
    width: 8rem;
    height: auto;
}

.mob-loader-pokegif {
    bottom: 0;
    left: 30%;
    position: fixed;
    z-index: 99999;
    animation: amazingDancing 3s linear infinite alternate-reverse;
}

@keyframes amazingDancing {
    from {
        transform: translate(-50%);
    }
    to {
        transform: translate(50%);
    }
}

