<div class="toolbar fade">
    <ul class="d-flex nav-list justify-between">
        <li>
            <button class="nav-button">First generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Second generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Third generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Fourth generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Fifth generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Sixth generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Seventh generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Eighth generation</button>
        </li>
    </ul>
</div>

<div class="container-fluid justify-center fade">


        <div class="row text-center" id="pokeList"></div>

</div>
