<div class="api-secondary-background"></div>
<div class="toolbar fade">
    <ul class="d-flex nav-list justify-between">
        <li>
            <button class="nav-button" id="btn-gen-1">First generation</button>
        </li>
        <li>
            <button class="nav-button" id="btn-gen-2">Second generation</button>
        </li>
        <li>
            <button class="nav-button" id="btn-gen-3">Third generation</button>
        </li>
        <li>
            <button class="nav-button" id="btn-gen-4">Fourth generation</button>
        </li>
        <li>
            <button class="nav-button" id="btn-gen-5">Fifth generation</button>
        </li>
        <li>
            <button class="nav-button" id="btn-gen-6">Sixth generation</button>
        </li>
        <li>
            <button class="nav-button" id="btn-gen-7">Seventh generation</button>
        </li>
        <li>
            <button class="nav-button" id="btn-gen-8">Eighth generation</button>
        </li>
    </ul>
</div>

<div class="container-fluid justify-center fade">


        <div class="row text-center" id="pokeList"></div>

</div>
