<div class="toolbar fade">
    <ul class="d-flex nav-list justify-between">
        <li>
            <button class="nav-button">First generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Second generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Thrid generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Forth generation</button>
        </li>
        <li>
            <button class="nav-button disabled">Fith generation</button>
        </li>
    </ul>
</div>

<div class="container-fluid justify-center fade">


        <div class="row text-center" id="pokeList"></div>

</div>
