@import '../../scss/variables';

ul {
    list-style: none;
}

.api-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, $softDark, $poke3);
    clip-path: polygon(100% 0, 50% 100%, 100% 100%);
}


.nav-button {
    padding: 1rem;
    border-radius: 10px;
    border: 0px;
    background: linear-gradient(180deg, rgb(71, 71, 94), rgb(30, 60, 82), $tertiary);
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 100;
    outline: none;
    box-shadow: 0px 5px 10px $softDark;
    transition: $transFast;
    

    &:hover:not(.disabled) {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.disabled {
    opacity: 0.3;
}

.nav-list {
    list-style: none;
}

.loader {
    font-size: 5em;
    color: white;
    background: $poke3;
    padding: 2rem;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}


// #1

.card-wrapper {
    background-color: transparent;
    width: $cardwidth;
    height: $cardheight;
    perspective: 1000px;
}

// #2

.card-inner {
    position: relative;
    width: $cardwidth;
    height: $cardheight;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0px 5px 15px $softDark;
}

// #3

// Back card styles
.card, .card-back {
    position: absolute;
    top: 0;
    width: $cardwidth;
    height: $cardheight;
    background-color: $poke3;
    border-radius: 15px;
    border: 2px solid $softDark;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

// #4

.card-back {
    transform: rotateY(180deg);
}


// #5

.card-wrapper:hover .card-inner {
    cursor: pointer;
    transform: rotateY(180deg);
}

// FRONT CARD STYLES
.card {
    background-color: #bbb;
    position: relative;
    width: $cardwidth;
    height: $cardheight;
    border-radius: 15px;
    border: 2px solid $softDark;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding: auto;
    
}


.card-img {
    padding-top: 2rem;
    text-align: center;
    display: block;
}

.type-icon {
    border-radius: 100%;
    height: 4em;
    width: 4em;
    margin: 0 auto;
}

.card-title {
    color: $poke4;
    font-family: $style3;
    background-color: $dark;
    width: 100%;
    font-size: 2em;
    padding-bottom: 1rem;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 2px;
    width: 99%;
    padding: 1rem;
    margin-top: 0;
    background-color: $dark;
    box-shadow: inset 0px 0px 10px black;
    font-size: 0.8rem;
    font-weight: 100;
    border-radius: 0px 0px 15px 15px;
}

.card-back-title {
    position: absolute;
    font-weight: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    font-size: 1.5em;
    padding-top: 0.5rem;
    letter-spacing: 5px;
    background: $softDark;
    border-radius: 12px 12px 0px 0px;
    color: $poke4;
}

.card-back-body {
    font-family: $style3;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 15px 15px;
    box-shadow: inset 0px 0px 2rem black;
    width: 100%;
    height: $cardheight - 3rem;
    z-index: 0;
}


.evolutions-row {
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    vertical-align: baseline;
}

.card-back-arrow {
    margin-top: 3rem;
    font-size: 2em;
    color: $poke4;
}

.margin-cols {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card-id {
    position: absolute;
    top: 0;
    left: 0;
    background: $dark;
    width: 7rem;
    height: 6rem;
    border-radius: 12px 0px 0px 0px;
    clip-path: polygon(0 0, 100% 0%, 50% 50%, 0 50%);
}

.card-id-number{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 1.2em;
    padding: 0 auto;
    color: $primary;
    
}

.card-back-body {
    text-shadow: 0px 0px 5px black;
}

.flavor-text {
    margin: 5%;
    text-shadow: 2px 0px 3px $dark;
}

.stats-text {
    position: absolute;
    bottom: 0;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 15px 15px;
    font-family: $style1;
    font-weight: 100;
    text-shadow: 5px 0px 5px $dark;
    background:rgba(20, 20, 20, 0.364);

    div ul {
        width: 100%;
    }
}