<div class="navbar">
    <div class="navbar-brand"></div>
    <div class="webpack-logo"></div>
    <ul>
        <div>
            <ul class="navbar-group-links">
                <li>  
                    <a href="#/"><i class="fas fa-home"></i></a>
                </li>
                <li>
                    <a href="#/app">APP</a>
                </li>
                <li>
                    <div class="git-icon">
                        <a href="https://github.com/Lithos-hub/PokeAPP">
                            <i class="fab fa-github white--text"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <div class="navbar-search-input">
                    <div class="navbar-select-gen">
                    </div>
                    <div class="navbar-input-container">
                        <input type="text" name="searchPokemonInput" id="navbar-input" class="navbar-input-border-off">
                        <label id="navbar-input-label" class="label-focus-off">Search a Pokémon</label>
                    </div>
            </div>
        </div>
        <div>
                <div class="navbar-text">
                    Made with <i class="fas fa-heart"></i>, pure <span class="javascript--text js">JS</span> and
                </div>
        </div>
    </ul>
</div>
<div class="navbar-select-menu">
    <div class="navbar-select-menu-content">
    <h5>Select a generation</h5>
            <div class="buttons-row">

                <button type="button" id="btn-gen-1" class="navbar-btn">1st gen</button>
                
                <button type="button" id="btn-gen-2" class="navbar-btn">2nd gen</button>
                
                <button type="button" id="btn-gen-3" class="navbar-btn">3rd gen</button>
                
                <button type="button" id="btn-gen-4" class="navbar-btn">4th gen</button>
                
                
                
                <button type="button" id="btn-gen-5" class="navbar-btn">4th gen</button>
                
                <button type="button" id="btn-gen-6" class="navbar-btn">6th gen</button>
                
                <button type="button" id="btn-gen-7" class="navbar-btn">7th gen</button>
                
                <button type="button" id="btn-gen-8" class="navbar-btn">8th gen</button>
            </div>
        </div>
    </div>
</div>
