<div class="navbar fade">
    <div class="navbar-brand"></div>
    <div class="webpack-logo"></div>
    <ul>
        <li>
            
            <a href="#/"><i class="fas fa-home"></i></a>
        </li>
        <li>
            <a href="#/app">API</a>
        </li>
        <li>
            <div class="git-icon">
                <a href="https://github.com/Lithos-hub/JS-pokevanilla">
                <i class="fab fa-github white--text"></i>
                </a>
            </div>
        </li>
    </ul>
    <div class="navbar-text">
        Made with pure <i class="fas fa-heart"></i>, pure <span class="javascript--text js">JS</span> and
    </div>
</div>
