<div class="primary-background-404">

    <div class="secondary-background-404"></div>
    <div class="tertiary-background-404"></div>
    <div class="text-center justify-center">
        <div class="row d-block justify-center">
            <h1 class="error404">Error<span id="number1">4</span><div id="number2"></div><span id="number3">4</span></h1>
            <h1 class="error-text">Oops...<br> you shouldn't be here!
            </h1>
            <a href="/">
                <button type="button" class="go-btn-404">Go home</button>
            </a>
            <div class="pika-img"></div>
        </div>
    </div>
    
</div>