@import '../../scss/variables';


.secondary-background-404 {
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(140deg, $poke3, rgb(0, 4, 111));
    width: 100%;
    height: 100%;
    clip-path: polygon(0 2%, 0 100%, 50% 100%);
}

.pika-img {
    margin: 0 auto;
    background: url("../../assets/img/pika404.png");
    width: 30rem;
    height: 35rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.error404 {
    font-size: 15em;
    color: $dark;
    display: inline;

    span {
        margin-left: 10px;
        margin-right: 10px;
    }

}

#number1 {
    text-shadow: 10px 0 0 $poke3, 0 10px 0 $poke3, -10px 0 0 $poke3, 0 -10px 0 $poke3, 0 0 10px $poke3;
    color: $poke4;
}

#number2 {
    width: 200px;
    height: 200px;
    background: url("../../assets/img/pokeball.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

#number3 {
    text-shadow: 10px 0 0 $poke3, 0 10px 0 $poke3, -10px 0 0 $poke3, 0 -10px 0 $poke3, 0 0 10px $poke3;
    color: $poke4;
}

.error-text {
    font-size: 7em;
    letter-spacing: 5px;
    
    
}

.go-btn-404 {
    background: $tertiary;
    color: white;
    font-size: 2em;
    border: none;
    border-radius: 15px;
    width: 15rem;
    height: 5rem;
    outline: none;
    text-shadow: 0px 0px 10px $dark;
    box-shadow: 0px 5px 10px $softDark;
    transition: all 0.7s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background: $dark;
        color: $primary;
    }
}