<div class="about-secondary-background"></div>
    <div class="container">

            <div class="about-list">
                
                <p id="par-1">
                    PokéAPP is a SPA (Single-page Application) made with Vanilla JavaScript, pure CSS/SCSS and Webpack.
                </p>

                
                <p id="par-2">
                    Of course, this app uses the PokeAPI to get the Pokémon data. The main view consists of showing each Pokémon and its data in cards with dynamic backgrounds and dynamic icons depending on the type. 
                </p>
                    

                <p id="par-3">
                    At this moment (Version 1.5.0), the app has not to much functionality and the responsive view is still been designing (I want to put a completely different interface for mobile devices), but I pretend to add more features in the future. 
                </p>
                    

                <p id="par-4">
                    My main intention with this app is to practice with JavaScript and CSS without using any JS framework like Vue.js or any UX/UI library like Vuetify or Bootstrap.
                </p>

            </div>
                
</div>