<div class="fixed-footer">
    <div class="musicPlayer fade">
        <div class="row justify-between">
            <div class="col-6">
                <div class="music-player-card">
                    <button class="music-player-play" id="playBtn"><i class="fas fa-play"></i></button>
                    <button class="music-player-pause" id="pauseBtn"><i class="fas fa-pause"></i></button>
                    <audio src="../../assets/music/pokemusic.mp3" hidden id="music"></audio>
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>
    </div>
</div>