@import '../../scss/variables';

.fixed-footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.musicPlayer {
    position: relative;
    display: flex;
    padding: 5px;
    width: 100%;
    height: 4rem;
    background-image: linear-gradient(to bottom, white 5%,#408eaa 10%,  #66a7a7 20%, #afe9fa 50%, #1c5c5e 2%, #123649 5%, $dark);
    justify-content: space-between;

}

.music-player-play, .music-player-pause {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: relative;
    left: 1rem;
    padding: 1rem;
    width: 5rem;
    border: 0;
    margin: 5px;
    outline: none;
    transition: $transFast;
    background-image: linear-gradient(to bottom, rgb(202, 251, 255) 10%,  #aadfdf 30%, #dcf7ff 50%, #123649);
    

    &:hover {
        background: $dark;
        color: white;
        cursor: pointer;
    }
}

.music-player-card{
    width: 100%;
    height: 100%;
}

.button-clicked {
    box-shadow: inset 5px 0px 7px $dark, inset -5px 0px 7px $dark;
}