@import '../../scss/variables';

.fixed-footer {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    width: 100%;
}

// BAR
.musicPlayer {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    padding: 0.1rem;
    background-image: linear-gradient(to bottom, white 5%,#408eaa 10%,  #66a7a7 20%, #afe9fa 50%, #1c5c5e 2%, #123649 5%, $dark);

}

// LEFT BUTTON
.music-player-play, .music-player-pause {
    position: absolute;
    left: 1rem;
    height: 100%;
    border: 0;
    outline: none;
    background-image: linear-gradient(to bottom, white,#4157af 10%, #0059ff 30%, #003acc 50%, $dark);
    transition: $transFast;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    margin: 0.1rem;
    color: white;

    &:hover {
        color: $poke4;
        cursor: pointer;
        background: $dark;
    }
}

.music-player-card{
    width: 100%;
    height: 100%;
}

.button-clicked {
    box-shadow: inset 5px 0px 7px $dark, inset -5px 0px 7px $dark;
}

.about-card {
    width: 100%;
    height: 100%;
}

.about-button {
    font-family: $style3;
    position: absolute;
    right: 1rem;
    height: 100%;
    border: 0;
    color: white;
    outline: none;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    background-image: linear-gradient(to bottom, white, #af4141 10%,  $poke1 30%, $poke2 50%, $dark);
    transition: $transFast;

    &:hover {
        background: white;
        color: $dark;
        cursor: pointer;
    }

}

// ******* MOBILE RESPONSIVE ******* //
@media only screen and (min-width: 360px) {
    .musicPlayer {
        height: 2rem;
    }
    .about-button {
        width: 3rem;
        font-size: 0.5em;
    }
    .music-player-play, .music-player-pause{
        width: 3rem;
    }
}
// ******* LAPTOP RESPONSIVE ******* //
@media only screen and (min-width: 767px) {
    .musicPlayer {
        height: 3rem;
    }
    .about-button {
        width: 4rem;
        font-size: 0.8rem;
    }
    .music-player-play, .music-player-pause{
        width: 4rem;
    }
}

// ******* DESKTOP RESPONSIVE ******* //
@media only screen and (min-width: 1370px) {
    .musicPlayer {
        height: 3.5rem;
    }
    .about-button {
        width: 5rem;
        font-size: 1rem;
    }
    .music-player-play, .music-player-pause{
        width: 5rem;
    }
}