<div class="home-secondary-background">.</div>
        <div class="home">
            <div class="text-center black--text justify-center fade">
                <div class="row d-block justify-center">
                    <h1 class="mt-2">Powered with</h1>
                    <div class="logo-image"></div>
                    
                    <h1 class="mt-1" id="home-title">Welcome to the PokéAPP</h1>
                    <div class="oak-image mt-2 mb-2"></div>
                    <a href="/#/app">
                    <button class="go-btn" type="button">Go</button>
                    </a>
                    <div class="dialog">
                        <div class="poke-dialog">
                            <div class="poke-dialog-text"></div>
                        </div>
                    </div>
                    <div class="image"></div>
                </h1>
            </div>
        </div>
        <div class="version"></div>
    </div>