// Colors
$mainColor: white;
$primary: #FFCC01;
$secondary: #C8A102;
$tertiary: #375DA9;
$success:   #48a266;
$danger: #ba4848;
$info: #589fd5;
$softDark: #303030;
$dark: #202020;

$poke1: #FF0000;
$poke2: #CC0000;
$poke3: #3B4CCA;
$poke4: #FFDE00;
$poke5: #B3A125;


// Font-families

$style1: 'Cabin', sans-serif;
$style2: 'Amatic SC', cursive;
$style3: 'Fira Sans Condensed', sans-serif;

// Transitions

$transFast: all 0.5s ease;

// Cards variables

$cardheight: 30rem;
$cardwidth: 20rem;